# Ignore Visual Studio folder
.vs/

# Ignore build directories
**/bin/
**/obj/

# Ignore temporary and user-specific files
*.user
*.suo
*.log
*.userprefs
*.vspscc
*.vssscc

# Ignore build folders (general)
Build/
build/

# Ignore NuGet packages
packages/
*.nupkg

# Ignore VS Code settings (if using)
.vscode/
